---
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
    const blogPosts = await Astro.glob("../../blog/**/*.mdx");
    return blogPosts.map((post) => ({
        params: {
            id: post.title,
        },
        props: {
            message: "Hello I am a message",
        },
    }));
}

const { id } = Astro.params;
const { message } = Astro.props;
---

<Layout title="Nested">
    <main>
        <h1>Post {id}</h1>
        <p>{message}</p>
    </main>
</Layout>
