---
import ArticleCard from "@components/ArticleCard.astro";
import Layout, { PageType } from "../layouts/Layout.astro";
const hasOverflow = false;
const page: PageType = "blog";
---

<Layout hasOverflow={hasOverflow} page={page} title="Welcome to my Blog.">
	<div class="w-3/4 mt-10">
		<h1 class="text-left block uppercase font-raleway font-bold text-3xl">
			Recent Articles
		</h1>
		<div class="grid grid-cols-3 grid-flow-row auto-rows-auto gap-6 mt-10">
			<ArticleCard />
			<ArticleCard />
			<ArticleCard />
			<ArticleCard />
			<ArticleCard />
			<ArticleCard />
		</div>
	</div>
</Layout>
<style>
	:global(article:first-child) {
		@apply col-span-3;
	}

	:global(article:not(first-child)) {
		@apply md:col-span-1 col-span-3;
	}
</style>
