---
import IntroHeader from "@components/IntroHeader.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Come code with me.">
	<main class="h-screen grid place-content-center">
		<IntroHeader />
	</main>
</Layout>
