---
---

<article class="test flex flex-row items-start justify-start gap-2">
    <div class="flex flex-1">
        <img
            src="https://www.rd.com/wp-content/uploads/2021/01/GettyImages-1175550351.jpg"
            alt=""
        />
    </div>
    <div class="flex flex-1 flex-col">
        <h2>Article Header</h2>
        <h3>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
        </h3>
    </div>
</article>

<style>
    h3 {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
