---
import { Image } from "@astrojs/image/components";
const { title, date, bannerImage, url } = Astro.props;
---

<article class={`flex items-start justify-start gap-2 flex-col`}>
    <a href={url} target="_blank">
        <Image
            src={bannerImage}
            format={"png"}
            height={"400px"}
            aspectRatio={4 / 3}
            alt={title}
        />
    </a>
</article>

<style>
    h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h2 {
        color: #aac8ff;
    }
</style>
