---
const { title, date, bannerImage, index } = Astro.props;
---

<article
    class={`flex items-start justify-start gap-2 ${
        index > 0 ? "flex-col" : "flex-col md:flex-row"
    }`}
>
    <div class="flex flex-1">
        <img src={bannerImage} alt={title} />
    </div>
    <div class="flex flex-1 flex-col mt-2">
        <span class="text-xs font-bold">{new Date(date).toDateString()}</span>
        <h2 class="text-base underline mt-2">{title}</h2>
    </div>
</article>

<style>
    h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h2 {
        color: #aac8ff;
    }
</style>
