<div class="overflow-y-hidden h-8">
    <span class="block text-2xl">Making code...</span>
</div>

<div class="overflow-y-hidden h-20">
    <h1 class="relative block uppercase font-raleway font-bold">
        <span class="relative">
            <span class="relative z-10">Blazingly</span>
            <!-- <div class="absolute top-0 left-0 h-full w-full bg-red-800 z-0"></div> -->
        </span>
        Fast
    </h1>
</div>

<style>
    h1 {
        animation: 1s reveal-main;
    }

    span {
        animation: 1s reveal-secondary;
    }

    @keyframes reveal-secondary {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    @keyframes reveal-main {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
</style>
