<header class="fixed flex justify-between w-full py-5 px-10 mt-4">
    <div class="flex font-fira font-bold items-center">
        <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="w-6 h-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"></path>
        </svg>
        <span>Code with="Luke"</span>
        <svg
            fill="none"
            viewBox="0 0 28 28"
            stroke-width="5"
            stroke="currentColor"
            class="w-4 h-4 rotate-[-18deg] translate-x-1.5"
        >
            <path
                d="M0.5 27.5L27.5 0.5"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>

        <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="w-6 h-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
        </svg>
    </div>
    <nav>
        <ul class="flex text-white text-2xl gap-4">
            <li>
                <a href="">
                    <i class="fa fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-brands fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>

</style>
