<header class="fixed flex justify-between w-full py-5 px-10 mt-4">
    <div class="flex font-fira font-bold items-center">
    </div>
    <nav>
        <ul class="flex text-white text-2xl gap-4">
            <li>
                <a href="">
                    <i class="fa fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-brands fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>

</style>
